@model StudentModel


<form method="post">
    <div>
        <label>Student Name</label>
        <input asp-for="StudentName"/>
    </div>
    <div>
        <label>University</label>
        <input asp-for="University" placeholder="School"/>
    </div>
    <div>
        <label>City</label>
        <input asp-for="City" placeholder="eg. Auckland"/>
    </div>
</form>