


<form>
    <div>
        <label>Student Name</label>
        <input />
    </div>
    <div>
        <label>University</label>
        <input  />
    </div>
    <div>
        <label>City</label>
        <input  />
    </div>
</form>