@model IEnumerable<StudentModel>;

<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>University</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.StudentName</td>
                <td>@i.University</td>
                <td>@i.City</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        }
    </tbody>
</table>