


<form>
    <div>
        <label>Student Name</label>
        <input asp-for="" />
    </div>
    <div>
        <label>University</label>
        <input asp-for="" />
    </div>
    <div>
        <label>City</label>
        <input asp-for="" />
    </div>
</form>